{% extends 'base.html' %}

{% block title %}Pacitentes{% endblock %}
    
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 justify-content-between">
    <h2 >Lista de Pacientes</h2>
    <a href="{% url 'paciente_create' %}" class="btn btn-primary">Novo Paciente</a>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Nome do Responsável</th>
            <th>Contato Responsável</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if pacientes %}
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.id }}</td>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.cpf }}</td>
                    <td>{{ paciente.nome_responsavel }}</td>
                    <td>{{ paciente.contato_responsavel }}</td>
                    <td>
                        <a href="" class="btn btn-sm btn-primary">Ver</a>
                        <a href="" class="btn btn-sm btn-warning">Editar</a>
                        <a href="" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">Nenhum paciente cadastrado.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
